<form action="#" phx-change="autocomplete">
  <div style="width:300px;">
    <input value="<%= @q %>" id="myInput" type="text" name="q" placeholder="Enter a city">
  </div>
  
</form>

<%= for recommendation <- @recommendations do %>
  <div>
    <%= recommendation.name <> " - current temp: " <> recommendation.current_temp %>
  </div>
<% end %>




